# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
*.env

# Ignore dataset and processed text files
data/
processed_text/

# Ignore embeddings and FAISS index files
embeddings/
*.npy
*.faiss

# Ignore VS Code settings
.vscode/

rag_project/Lib/site-packages/torch/lib/torch_cpu.dll
rag_project/Lib/site-packages/torch/lib/dnnl.lib

